.time{
    text-align: center;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block; 
    /* o display inline-block resolveu o tamanho do sublinhado debaixo da palavra dos times e o padding bottom empurrou-a um pouco mais para baixo */
    padding-bottom: 8px;
}

.time .colaboradores{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    flex-wrap: wrap;
}